/*fonts*/
@font-face {
    font-family: 'veteran_typewriterregular';
    src: url("../assets/fonts/veteran_typewriter-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'journalregular';
    src: url("../assets/fonts/journal-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}
/*end fonts*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #F5F5F5 !important;
}

html, body, div {
    margin: 0;
    padding: 0
}

/*link styles*/
a {
    font-weight: bold;
    text-decoration: none;
    transition: color 0.4s;
}


a:visited {
    color: inherit;
}

a:hover {
    color: #B2EBF2;
}
/*end link styles*/

.text-center {
    text-align: center;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    color: #F5F5F5;
    margin-bottom: 4em;
    font-family: 'Roboto', serif;
}

.top-bar::after {
    content: '';
    display: block;
    clear: both;
}

.app-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    text-align: center;
}

.field-line, .button-line {
    text-align: center;
    padding: 1em;
}

.button-line {
    margin-bottom: 1em;
}

.error-message {
    text-align: center;
    padding: 0 1em;
    color: tomato;
}

.success-message {
    text-align: center;
    padding: 0 1em;
    color: green;
}

/*specific styles*/
/*unauthorized components*/
.welcome {
    padding-bottom: 30vh;
}

.login-form {
    padding-bottom: 20vw;
}

/*end unauthorized components*/
/*end specific styles*/
