/*fonts*/
@font-face {
    font-family: 'glyphicons';
    src: url("../assets/fonts/Glyphicon/glyphicons-halflings-regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url("../assets/fonts/Roboto/Roboto-Medium.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;

}
/*end fonts*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #888888 !important;
}

html {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/intro-bg.jpg");
    background-attachment: fixed;
    background-size: cover;
}

html, body, div {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif !important;
    text-transform: lowercase;
}

img {
    max-height: 100%;
    max-width: 100%;
}

/*link styles*/
a {
    font-weight: bold;
    text-decoration: none;
    transition: color 0.4s;
    color: inherit;
}


a:visited {
    color: inherit;
}

a:hover {
    color: #B2EBF2;
}
/*end link styles*/

.text-center {
    text-align: center;
}

.top-bar {
    color: #F5F5F5;
    background-color: transparent;
    padding-bottom: 3vh;
}

.top-bar::after {
    content: '';
    display: block;
    clear: both;
}

.app-bar {
    background-color: #00BCD4;
    text-align: center;
    max-height: 15vh;
    z-index: 100;
    padding: 0;
    padding-top: 3vh;
    padding-bottom: 3vh;
    position: fixed;
    width: 100vw;
    left: 0;
    top: 0;
}

.app-bar::after {
    content: '';
    display: block;
    clear: both;
}

.organization-app, .volunteer-app {
    background-color: white;
    padding-top: 2em;
    display: flex;
}

.bottom-bar {
    max-height: 12vh;
    text-align: center;
    margin: 3vh;
}

.front-end {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.main-space {
    flex: 1;
    margin-top: 15vh;
    padding-bottom: 20vh;
    min-height: 70vh;
}


.field-line, .button-line {
    text-align: center;
    padding: 1em;
}

.button-line {
    margin-bottom: 1em;
}

.error-message {
    text-align: center;
    padding: 0 1em;
    color: tomato;
}

.success-message {
    text-align: center;
    padding: 0 1em;
    color: green;
}

/*specific styles*/
/*unauthorized components*/

.facebook-button {
    -webkit-font-smoothing: antialiased;
    border-style: solid;
    cursor: pointer;
    font-family: glyphicons, sans-serif;
    color: #424242;
    border-radius: 0.2em;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    transition: background-color .3s, border-color .3s;
    background-color: #0097A7;
    border-color: #0097A7;
    padding: 1em;
}

/*end unauthorized components*/

/*authorized volunteer pages*/
form {
    flex: 1;
}

/*end authorized volunteer pages*/
/*end specific styles*/

/*media queries*/
@media screen and (min-width: 800px) {
    .main-space, .main-space-front {
        margin: 20vh;
    }
}
/*end media queries*/
